
streamlit
requests
PyPDF2
python-dotenv
google-generativeai
groq 
fitz
langchain-experimental
python-docx
PyMuPDF==1.22.3  # Use a specific stable version
pymupdf 
python-docx

langchain 
langchain-community 
langchain-text-splitters
langchain-groq 
chromadb 
fastembed


streamlit
python-dotenv
pymupdf
python-docx
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
chromadb
fastembed
pydantic
typing_extensions


